<footer id="footer"><p style="text-align: center;">&copy; My Company <%-date %></p></footer>

<!-- <script src="/jsapp/build.elements.js"></script> -->
<script>
	(function(){
		window.socketConfig = {
			host: '<%-config.socketHost %>',
			port: '<%-config.socketPort %>',
			path: '<%-config.socketResource %>'
		}
	})(window);
</script>
<script src="http://<%-config.socketHost %>:<%-config.socketPort %>/socket.io/socket.io.js"></script>
<script src="/build/bundle.js"></script>
</body>
</html>